/* =========================
   RESET BÁSICO
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   BASE GENERAL
========================= */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.6;

  background-color: #1f2530; /* azul oscuro grisáceo */
  color: #222;
}


/* =========================
   HEADER
========================= */
.site-logo img {
  width: 120px;
  height: auto;
  display: block;
  margin: 0 auto 1rem auto;
}

.site-logo img {
  width: 140px;
  border-radius: 30px;
}


header {
  background-color: #f5f1e8;
  text-align: center;
  padding: 3rem 1rem 2rem 1rem;
}

header h1 {
  color: #222;
}

header p {
  color: #555;
}

/* =========================
   GALERÍA (CONTENEDOR)
========================= */

#gallery {
  position: relative;
  width: 90%;
  max-width: 1100px;
  margin: 3rem auto;

  display: flex;
  flex-wrap: wrap;
  gap: 3rem;

  background-color: #f5f1e8;  /* tono papel */
  padding: 4rem 3rem 3rem 3rem;
  border-radius: 18px;

  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}



#gallery article {
  flex: 1 1 400px;
}

#gallery img {
  width: 100%;
  height: auto;
  display: block;

  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* =========================
   FIGCAPTION
========================= */

figcaption {
  margin-top: 0.75rem;
  font-size: 0.9rem;
  text-align: center;
}

/* =========================
   FOOTER
========================= */

footer {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 0.9rem;
  color: #666;
}
